.img {
  max-width: 100px;
}
.box {
  display: flex;
  margin: 65px auto 70px auto;
  border: solid 1px;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 200px;
  overflow: hidden;
  position: relative;
}
.main {
  margin: auto;
  padding-right: 20px;
  max-height: 609px;
  overflow-y: scroll;
}
.main::-webkit-scrollbar {
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background: black;
}

.main::-webkit-scrollbar-thumb {
  background-color: white;
}
.btn {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 5%;
  color: white;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 18px;
  background-color: inherit;
}
.bascet {
  max-width: 30px;
  transition: max-width 0.3s ease-in-out;
}
.bascet:hover {
  max-width: 35px;
}
.resetBtn {
  z-index: 10000;
  color: black;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  transition: border-radius 0.3s ease-in-out;
  cursor: pointer;
  width: 150px;
  height: 45px;
  position: absolute;
  left: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.resetBtn:hover {
  border-radius: 5px;
  background-color: aliceblue;
}
.priceBtn {
  z-index: 10000;
  color: black;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  transition: border-radius 0.3s ease-in-out;
  cursor: pointer;
  width: 150px;
  height: 45px;
  position: absolute;
  left: 35%;
  bottom: 1%;
  margin-top: 20px;
  margin-bottom: 10px;
}
.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  justify-content: space-around;
}
.name {
  margin: 0;
}
.price {
  margin: 0;
}
.counter {
  margin: 0;
  margin-top: 3px;
}
.counterBox {
  display: flex;
  max-height: 30px;
  width: 90px;
  justify-content: space-around;
}
.plusminus {
  color: black;
  padding: auto;
  margin: 0;
  width: 30px;
  height: 30px;
  font: inherit;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: 10000;
  cursor: pointer;
}
