.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BtnFilter {
  color: black;
  padding: 0;
  border: none;
  font: inherit;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;
  transition: border-radius 0.3s ease-in-out;
  cursor: pointer;
  width: 100px;
}
.itemList {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 5rem;
  gap: 5px;
}
.pagination .page_num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.pagination .page_num:hover {
  background-color: #cbe0f4;
}

.pagination .active {
  background-color: #e7f3ff;
}
