@font-face {
  font-family: Proppins;
  src: url(../../../public/fonts/Poppins-Light.ttf);
}

.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.title {
  font-family: Proppins;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 30px;
  border: none;
  background-color: white;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
.links {
  display: flex;
  align-items: center;
  padding: 0;
  color: inherit;
}
.link {
  margin-left: 60px;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  transition: border-bottom 0.3s ease-in-out;
}
.link:first-child {
  margin-left: 0px;
}
.link:hover {
  border-bottom: solid 1.33px black;
}
.img {
  width: 30px;
  padding-top: 05px;
  cursor: pointer;
}
.imgBox {
  margin-left: 60px;
  display: flex;
  align-items: center;
}
.imgBox:first-child {
  margin-left: 0px;
}
.img_shop {
  width: 20px;
  padding-top: 1px;
  padding-left: 5px;
  cursor: pointer;
}
.line {
  margin-bottom: 20px;
}
.activeLink {
  margin-left: 60px;
  list-style: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  border-bottom: solid 1.33px black;
}
.activeLink:first-child {
  margin-left: 0px;
}
